*,
*::after,
*::before {
  box-sizing: border-box;
}
@font-face {
  font-family: "Pokemon";
  src: url("Assets/fonts/Pokemon.ttf");
}
@font-face {
  font-family: "Gameboy";
  src: url("Assets/fonts/gameboy.ttf");
}
@font-face {
  font-family: "Jersey";
  src: url("Assets/fonts/Jersey.ttf");
}
body {
  margin: 0;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  width: 450px;
  height: 700px;
  max-width: 80%;
  background: url("Assets/images/pokedex.png") center center no-repeat;
  background-size: 100% 100%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  font-family: "Pokemon";
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  border-radius: 10px 10px 0 0;
  position: absolute;
  bottom: 6%;
  left: 5%;
}

.modal-header .title {
  font-weight: 900;
  font-size: 1.6em;
  user-select: none;
}
.modal-body {
  position: relative;
  padding: 0px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}
marquee {
  height: 300px;
  max-width: 95%;
  margin-top: 258px;
}
.letter {
  font-family: "Pokemon";
  font-size: 0.8em;
  background-color: #88c070;
}
.title::selection,
.letter::selection,
strong::selection {
  color: #fff;
  background-color: maroon;
}
h1 {
  margin: 0;
  color: #84573d;
  -webkit-text-stroke: 2px #000;
  text-align: center;
  line-height: 1.5em;
  letter-spacing: 10px;
}
.timer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.6em;
  height: 100vh;
  padding-bottom: 2em;
}
p {
  font-size: 1.6em;
  font-weight: lighter;
  width: 700px;
  text-align: center;
  color: #568c3d;
  -webkit-text-stroke: 3px #091821;
}
.dates {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
}
.dates {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}
#time {
  font-size: 1.5em;
  word-spacing: 10px;
}
.separator {
  width: 100%;
  height: 30px;
  background: url("Assets/images/stairs.png") center center;
  background-size: contain;
}
